<h1>Coupons</h1>

<% @coupons.each do |c| %>
  <li><%=link_to c.coupon_code, c.store%></li>
  <li><%=c.coupon_code%></li>
<% end %>

<div><%= link_to coupon.coupon_code, coupon_path(coupon) %> | <%= coupon.store %></div>
