<h1>Coupons:</h1>
<% @coupons.each do |coupon| %>
<a href="<%= coupon_path(coupon) %>">
  <ul>
    <li>Coupon Code: <%= coupon.coupon_code %></li>
    <li>Store: <%= coupon.store %></li>
  </ul>
</a>
<% end %>