<div>
  <% @coupons.each do |coupon| %>
    <div style="background-color:lightgrey;margin:10px;padding:5px">
      coupon store: <%= coupon.store %><br>
      code: <%= link_to coupon.coupon_code, coupon_path(coupon) %><br>
    </div>
  <% end %>
</div>
