<div>
<% @coupons.each do |coupon| %>
<div> Coupon Code: <%= link_to coupon.coupon_code, coupon_path(coupon) %> </div>
<div> Store:<%= link_to coupon.store, coupon_path(coupon) %></div><br>
<% end %>
</div>
