<% @coupons.each do |coupon| %>
  <!-- <div><%= link_to coupon.store, coupon_path(coupon) %><%= coupon.coupon_code %></div> -->

  <div><%= link_to coupon.coupon_code, coupon_path(coupon) %><%= coupon.store %></div>
<% end %>
