<h1>Here are all of the coupons</h1>

<ul>
  <%@coupons.each do |coupon|%>
    <li> <%= coupon.coupon_code %> </li>
    <div><%= link_to coupon.coupon_code, coupon_path(coupon) %></div>
    <li> <%= coupon.store %> </li>
  <%end%>
</ul>
