  
<% @coupons.each do |coupon| %>
  <label>Coupon Code:</label><br>
  <div><%= link_to coupon.to_a, coupon_path(coupon) %></div>
  <label>Store:</label><br>
  <div><%= link_to coupon.to_b, coupon_path(coupon) %></div>
<% end %>