<h1>New Coupon</h1>

<%=form_tag create_coupon_path do %>
  <p>Coupon code: <%=text_field_tag :'coupon_code'%></p>
  <p>Coupon store: <%=text_field_tag :'store'%></p>
  <p><%=submit_tag "Submit Coupon"%></p>
<%end%>
