<h2>Coupon Form</h2>

<%= form_tag coupons_path do %>

  <label>Coupon Code</label>
  <div><%= text_field_tag(:coupon_code)%></div><br>

  <label>Store</label>
  <div><%= text_field_tag(:store)%></div><br>

  <%= submit_tag 'Submit Coupon' %>

<% end %>
