<h1>Create Coupon</h1>
<%= form_tag coupon_path do %>
  <label>Coupon Code:</label><br>
  <%=text_field_tag :'coupon_code' %>
  <label>Store:</label><br>
  <%=text_field_tag :'store' %>
  <%=submit_tag "Submit Coupon"%>
<%end%>
