<h1>New Coupon Form</h1>

<%= form_tag coupons_path do %>

  <label for="coupon_code">Coupon Code</label>
  <%= text_field_tag :'coupon[coupon_code]' %>

  <label for="store">Store</label>
  <%= text_field_tag :'coupon[store]' %>

  <%= submit_tag "Submit Coupon" %>

  <%end%>
