<%= form_tag coupons_path do %>
  <h2>Coupon Form:</h2>
  <label>Coupon Store:</label><br>
  <%= text_field_tag :'coupon[store]' %><br>

  <label>Coupon Code:</label><br>
  <%= text_field_tag :'coupon[coupon_code]' %><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>