<h2> Form</h2>
<%= form_tag students_path do %>
  <label>Coupon:</label><br>
  <%= text_field_tag :coupon_code %><br>

  <label>Store:</label><br>
  <%= text_area_tag :store %><br>

  <%= submit_tag "Submit Coupon" %>
<h1><% end %></h1>