<h1>Coupon Form</h1>

  <%= form_tag coupons_path do %>
        <label>c o d e:<%= text_field_tag :'coupon[coupon_code]' %></label>
        <label>s t o r e:<%= text_field_tag :'coupon[store]' %></label>
        <%= submit_tag "Submit Coupon" %>
  <% end %>
  
  
