<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
  <label>Coupon First Name:</label><br>
  <%= text_field_tag :coupon_code %><br>

  <label>Coupon Last Name</label><br>
  <%= text_field_tag :store %><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>