<%= form_tag coupons_path do %>
  <h2><label>Coupon Form:</label></h2>
  <label>Store Name:</label>
  <%= text_field_tag :store %><br>
  <label>Coupon Code:</label>
  <%= text_field_tag :coupon_code %><br><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>