<h2>Coupon Form</h2>


<%= form_tag coupons_path do 	%>
  <input type="text" name="coupon[coupon_code]">
  <input type="text" name="coupon[store]">
  <input type="submit" id="Submit Coupon">
<% end %>