<h3>Coupon Form</h3>
<%= form_tag coupons_path do %>
	<label for="coupon[coupon_code]">
		Coupon code: <br> 
		<%= text_field_tag :'coupon[coupon_code]' %> <br>
	</label>
	<label for="coupon[store]">
		Store: <br>
		<%= text_field_tag :'coupon[store]' %><br>
	</label>
	<%= submit_tag "Submit Coupon" %>
<% end %>