<h3>Coupon Form</h3>
<%= form_tag coupon_path do%>
  <label>Coupon Code:</label>
    <%= text_field_tag :'coupon_code'%>
  <br>
  <label>Store:</label>
    <%= text_field_tab :'store'%>
  <br>
  <%= submit_tag "New Coupon"%>
<%end%>
