<h1>Coupon Form</h1>
<%= form_tag coupons_path, method: :post do %>
  <label for="coupon_store">Store name: </label><%= text_field_tag :'coupon[store]'%><br>
  <label for="coupon_coupon_code">Coupon code: </label><%= text_field_tag :'coupon[coupon_code]'%><br>
  <%= submit_tag "Submit Coupon" %>
<% end %>
