<%= form_tag coupons_path do %>
<h1>Coupon Form</h1>
  <label>Enter coupon_code:</label><br>
  <%= text_field_tag :'coupon[coupon_code]' %><br>

  <label>Enter store</label><br>
  <%= text_area_tag :'coupon[store]' %><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>
