<h1>Coupon Form</h1>

<%= form_tag coupons_url do %>
  <label for="coupon">Coupon Code: </label>
  <input type="text" name="coupon[coupon_code]" id="coupon_code"><br>

  <label for="coupon[store]">Store: </label>
  <input type="text" name="coupon[store]" id="store"><br>

  <%= submit_tag 'Submit Coupon' %>
<% end %>
