<h1>Coupon Form</h1>

<%= form_tag coupons_path do %>
  <label id="coupon_code">Coupon code:</label>
  <%= text_field_tag :'coupon_code' %><br>

  <label id="store">Store:</label>
  <%= text_field_tag :'store' %><br>

  <%= submit_tag 'Submit Coupon' %>
<% end %>