<h2>Coupon Form</h2>

<%= form_tag coupons_path do %>
<label>New Coupon Store</label><br>
<%= text_field_tag :'coupon[store]' %><br>

<label>New Coupon Code</label><br>
<%= text_field_tag :"coupon[coupon_code]" %><br>

<%= submit_tag "Submit Coupon" %>

<% end %>
