<h1>Coupon Form</h1>
<form action="<%= coupons_path %>" method="post">
  <label for="">Coupon Code:</label>
  <input type="text" name="coupon[coupon_code]" value="">
  <label for="">Store:</label>
  <input type="text" name="coupon[store]" value="">
  <input type="submit" name="" value="Submit Coupon">
</form>
