<h3>Coupon Form</h3>
<%= form_tag(coupons_path) do %>
    <%= text_field_tag(:"coupon[coupon_code]", nil, placeholder: 'Coupon Code')%>
    <%= text_field_tag(:"coupon[store]", nil, placeholder: 'Store')%>
    <%= submit_tag("Submit Coupon")%>
<% end %>