<%= form_tag coupons_path do %>
	<p>
		<strong>Store</strong>
		<%= text_field_tag :'coupon[store]' %>
	</p>

	<p>
		<strong>Coupon Code</strong>
		<%= text_field_tag :'coupon[coupon_code]' %>
	</p>

	<p>
		<input type="submit" name="Submit Coupon">
	</p>
	

<% end %>