<h1>New Coupon</h1>
<%= form_tag :coupons do %>
  <p><label for="coupon_code">Coupon Code: </label><%= text_field_tag :coupon_code %></p>
  <p><label for="store">Store: </label><%= text_field_tag :store %></p>
  <p><%= submit_tag "Submit Coupon" %></p>
<% end %>