<%= form_tag coupons_path do %>
  <label>Coupon Form:</label>
  <p> Coupon Code </p>
  <%= text_field_tag :'coupon[coupon_code]' %>
  <p> Store </p>
  <%= text_field_tag :'coupon[store]' %>

  <%= submit_tag "Submit Coupon" %>
<% end %>
