<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Coupon</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    <h1><%= @coupon.coupon_code  + " - " + @coupon.store %></h1>
  </body>
</html>
