<form class="" action="index.html" method="post">
  <label for="">Coupon Code: </label>
  <input type="text" name="coupon[coupon_code ]" value="">
  <label for="">State:</label>
  <input type="text" name="coupon[state]" value="">
  <input type="submit" name="" value="submit">
</form>
