<div><h1>All the Coupons</h1><br>
    <% @coupons.each do |coupon| %>
    <div><%= link_to coupon.coupon_code, coupon_path(coupon) %><br>
        <%= link_to coupon.store, coupon_path(coupon) %>
    </div>
<% end %>
</div>